@model List<Student>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<ul>
    @foreach (Student student in Model)
    {
        <li>
            <a asp-controller="student" asp-action="detail" asp-route-id="@student.Id">@($"{student.Name} {student.SurName}")</a>
        </li>
    }
</ul>
